---
import Page from '@layouts/Page.astro'
import Head from '@layouts/Head.astro'
import Heading from '@components/Heading.astro'
const title = 'my subpage'
const heading = title + ' - ' + 'in heading'
---
<Page title={title}>
  <div slot="body-top">mypage.astro - title maj: {title}</div>
  <Heading slot="main-middle" level="1">{heading}</Heading>
</Page>
